@using bdis_meistrija.Client.Entities;
    <tr>
        <RowHeadCell caption=@defect.id />
        <td>@defect.linija</td>
        <td>@defect.kelias</td>
        <td>@defect.km</td>
        <td>@defect.pk</td>
        <td>@defect.m</td>
        <td>@defect.siule</td>
        <td>@defect.kodas</td>
        <td>@defect.pavoj</td>
        <td>@defect.btipas</td>
        <td>@defect.aptikta.ToString("yyyy-MM-dd")</td>
        <td>@getDate(defect.terminas)</td>
        <td><input type="date" class="form-control" value=@defect.atlikta placeholder="atlikta"></td>
        <td>@defect.actionId</td>
    </tr>

@code {
    [Parameter] public Defect defect { set; get; }
    string getDate(DateTime? nullableDate)
    {
        return nullableDate.HasValue? nullableDate.Value.ToString("yyyy-MM-dd") : "";
    }

}
